  

a.navi:link, a.navi:visited
  font-family:            garamond,serif
  text-transform:         uppercase
  letter-spacing:	  0.12em
  color:                  $col_brown
  text-decoration:        none
  z-index:                7


a.navi:focus, a.navi:hover, a.navi:active 
  @extends a.navi:link
  text-decoration:        underline
  cursor:                 default


div.navi        
  z-index:                7
  width:                  100%
  height:                 25px
  padding-bottom:         0.2em
  padding-left:           25px
  //background:             url(../../images/bg_raster.gif)

