#langswitch
  .nav
    %ul
      %li
        = link_to "de", langswitch_linkto_helper("de")
      %li
        = link_to "en", langswitch_linkto_helper("en")
      %li
        = link_to "fr", langswitch_linkto_helper("fr")

